
/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    --main-color: #0099ff;
    --secondary-color: #000b76;

    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body{
    font-family: "Open Sans", Helvetica, sans-serif;
}

section{
    width: 100%;
    padding: 4rem 1rem;
    margin: 0;
    height: fit-content;
    position: relative;
    text-align: center;
}

h1,h2,h3,h4{
    font-weight: bold;
}

h2{
    margin-bottom: 3rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{ 
    max-width: 100%;
    height: auto;
}

input{
    min-width: 300px;
    padding: 1rem ;
    border-radius: .5rem;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #e1e1e1;
}

button{
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position: relative;
}

.flex{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.grid{
    display: grid;
    gap: 1.5rem;
}


/*==================== NAV ====================*/
header{
    width: 100%;
    padding: .5rem;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 30;
    transition: .4s;
    box-shadow: none;

    background: rgba(255, 255, 255, 0.46);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.49);
}
html:not([data-scroll='0']) header{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

header .container{
    justify-content: space-between;
}

#menu{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background: transparent;
    transition: all .4s ease-in-out;
    z-index: 9;
}

@media (max-width: 953px){
    #menu{
        position: fixed;
        top: 36px;
        left: 0;
        height: 0;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        transition: all .4s ease-in-out;
        /* box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25); */

    }

    #menu.active{
        height: calc(100vh - 35px);
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.2px);
        -webkit-backdrop-filter: blur(5.2px);
        border: 1px solid rgba(255, 255, 255, 0.49);
    }
}



header .toggle{
    width: 2.5rem;
    margin-inline-end: 1rem;
    display: none;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .toggle::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(5px);
    background-color: var(--main-color);
    transition: .4s;
}

header .toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}

header .toggle::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(-5px);
    background-color: var(--main-color);
    transition: .4s;
}

header .toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

@media (max-width: 953px){
    header .toggle{
        display: flex;
    }
}

#menu li{
    margin: 0 .5rem ;
    padding: 0;
}

#menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: .875rem;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: .5rem 0;
}

#menu li a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition: .4s;
}

#menu li a:hover,
#menu li a.active{
    color: var(--secondary-color);
}

#menu li a:hover::after,
#menu li a.active::after{
    left: 0;
    background-color: var(--secondary-color);
}


/*==================== HOME ====================*/

#home{
    height: 100vh;
}

#home .container{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    align-items: center;
}

#home .container .content{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/*==================== ABOUT ====================*/
#about{
    text-align: center;
}

#about h1{
    margin-bottom: 2rem;
}

#about p {
    line-height: 1.6;
}


/*==================== FEATURES ====================*/

#features h2{
    margin-bottom: 3rem;
}

#features .content{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
}


#features .content img{
    width: 70px;
}

#features .content h3{
    margin-block: 1rem;
}

#features .content p{
    /* padding-inline: 1rem; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
}



/*==================== MANAGEMENT ====================*/


#management h2{
    margin-bottom: 2rem;
}

#management .content{
    grid-template-columns: 30% 70%;
}

#management .content .tab {
    background-color: #f1f1f1;
    }


#management .content .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

#management .content .tab button:hover {
    background-color: #ddd;
}

#management .content .tab button.active {
    background-color: #ccc;
}

#management .content .tabcontent {
    padding: 0px 12px;
    border-left: none;
}

#management .content .tabcontent h3{
    margin-bottom: 1rem;
}

#management .content .tabcontent p{
    margin-bottom: 2rem;
}

#management .content .tabcontent img{
    height: 300px;
}


/*==================== PRODUCTIVITY ====================*/

#productivity h2{
    margin-bottom: 3rem;
}

#productivity .content{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
}


#productivity .content img{
    width: 70px;
}

#productivity .content h3{
    margin-block: 1rem;
}

#productivity .content p{
    /* padding-inline: 1rem; */
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*==================== APPS ====================*/

#apps{
    padding: 4rem 0;
}

#apps h2{
    margin-bottom: 3rem;
}

#apps .content{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    padding: 2rem 0;
    align-items: center;
}

#apps .content .app {
    padding: 2rem 4rem;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    border-radius: 12px;
    background: #fff;
    box-shadow:  6px 6px 12px #d6d6d6,
                -6px -6px 12px #ffffff;
}

#apps .content .app img{
    width: 70px;
}

#apps .content h3{
    /* margin-block: 1rem; */
}





/*==================== TESTIMONIALS ====================*/
#testimonials .content{
    grid-template-columns: repeat(2, 1fr);
}

.testimonial blockquote {
    margin: 10px 10px 0;
    background: #efefef;
    padding: 20px 60px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-style: italic;
  }
  
  .testimonial blockquote:before,
  .testimonial blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #757f9a;
    font-style: normal;
  }
  
  .testimonial blockquote:before {
    top: 0;
    left: 10px;
  }
  
  .testimonial blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
  }
  
  .testimonial div {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    margin: 0 0 0 60px;
  }
  
  .testimonial p {
    margin: 8px 0 0 20px;
    text-align: left;
  }


/*==================== CLIENTS ====================*/
#clients{

}

#clients  h2{

}

#clients .content{
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

#clients a{
    width: fit-content;
}

#clients a img{
    width: 150px;
    height: 100px;
    filter: grayscale();
    transition: .4s;
}

#clients a:hover img{
    filter: none;
    transform: scale(1.1);
}


/*==================== GET STARTED ====================*/
.get-started{
background-color: #c1c1c1;
}

.get-started .container{
    justify-content: center;
}

/* .get-started .container input{
    min-width: 300px;
    padding: 1rem ;
    border-radius: .5rem;
    outline: none;
    box-shadow: none;
    border: none;
}

.get-started .container button{
    padding: 1rem 1rem;
    border-radius: .5rem;
    border: none;
} */







